<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Selenium Automation Suite" parallel="methods" thread-count="3" verbose="1">

    <listeners>
        <listener class-name="com.framework.listeners.TestListener"/>
    </listeners>

    <test name="Login Tests">
        <classes>
            <class name="com.framework.tests.LoginTest">
                <methods>
                    <include name="testValidLogin"/>
                    <include name="testInvalidLogin"/>
                    <include name="testEmptyCredentials"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>
